@import
url("https://pages-themes.github.io/cayman/assets/css/style.css");

.between {
  display: flex;
  justify-content: space-between;
  padding: 4px 0; /* optional spacing between rows */
}

h3 {
  color: #333333 !important;
  margin-bottom: 0 !important;
}

h3 + p {
  font-size: 0.95rem;       /* Smaller for context text */
  color: #555555;          /* Dark grey, professional and subtle */
  margin-top: 0 !important;      /* Small gap above paragraph for breathing */
  margin-bottom: 0 !important;        /* No gap below, so bullets stay tight */
}

/*h3 + p + ul,
h3 + p + ol {
  margin-top: 0;
}*/

.page-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  padding: 0.8rem 1rem !important;
}
.page-header .project-name {
  font-size: 1.8rem !important;
  margin: 0 !important;
}
.page-header .project-tagline {
  font-size: 1rem !important;
  margin: 0 !important;
}
.site-footer {
  padding: 0.3rem 1rem !important;
  margin-top: 0.5rem !important;
}
@media print {
  .page-header {
    display: none !important;
  }
  .page-break {
    page-break-before: always;
  }
  a,
  a:visited {
    color: inherit !important;
    text-decoration: none !important;
  }
  ul,
  ol {
    margin-top: 0.2rem !important;
  }
}
